@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(241, 245, 241);
}
.next-btn {
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}
.back-btn {
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
}
